<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <div class="card mt-5 shadow-sm">
        <div class="card-body">
          <h3>My Stories</h3>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let story of myStories">
                <td>{{story.title}}</td>
                <td>{{story.createdAt}}</td>
                <td>{{story.status}}</td>
                <td>
                  <a href="/edit-story/{{story._id}}" class="btn btn-primary" role="button">
                    <i class="fas fa-edit fa-small"></i>
                  </a>
                  <a href="/my-stories" class="btn btn-danger" role="button"
                      (click)=deleteStory(story._id)>
                    <i class="fas fa-trash fa-small"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>