<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="card mt-5 shadow-sm text-center">
        <div class="card-body">
          <h2 class="py-4">
            <!--Book Icon-->
            <i class="fas fa-book-reader"></i>
            StoryBooks
          </h2>
          <div class="section">
            <p>Create public and private stories from your life</p>
          </div>
          <div class="divider"></div>
          <hr class="mb-4" />
          <div class="section">
            <!-- Log In With Google button -->
            <a href="/auth/google" class="btn btn-danger" role="button">
              <!--Google Icon-->
              <i class="fab fa-google left"></i>
              Log In With Google
            </a>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>