<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <div class="card shadow-sm mt-4">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-2">
                <img src="https://lh3.googleusercontent.com/a/AATXAJwTkWbh3xrlI-x7MRBWMmrX_Kd97VO4nP5q5y_b=s96-c" class="img-thumbnail rounded">
              </div>
              <div class="col-md-9">
                <h2 class="mt-4">
                  {{story.title}}
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="font-italic my-3">
                <small><a href="#">Tim Hsieh</a> {{story.createdAt}}</small>
              </div>
            </div>
            <div class="row">
              <p>{{story.body}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>